{% trans_default_domain "NitraMenuBundle" %}

{% block form_block %}
    <div class="form_block">
        {% block form %}
            {{ form(form, { 'attr': {'class': 'admin_form item_form'} }) }}
        {% endblock form %}
    </div>
{% endblock form_block %}

{% block form_javascripts %}
    {% for child in form %}
        {{ form_javascript(child) }}
    {% endfor %}
{% endblock form_javascripts %}

{% block script_errors_handler %}
    <script type="text/javascript">
        {# styling tab when it has field error and colorbox when has tab inside #}
        $("#colorbox").addClass('has_tab');
        (function(window, $, undefined){
            $(function() {
                $('#item_save').on('click', function(e){
                    $('.lang_tabs a').each(function(i){                       
                        $(this).removeClass('has_error');
                        invalid_items = $($(this).data('tab')).find('.field_error');
                        if (invalid_items.length > 0) {
                            $(this).addClass('has_error');
                            $("#colorbox").animate({ scrollTop: 0 }, "slow");
                            $.fn.colorbox.resize();                            
                        }
                    });
                    $.fn.colorbox.resize();
                });
                $('.lang_tabs a').on('click', function(e){
                    $.fn.colorbox.resize();
                });
                $('#cboxMiddleRight').on('click', function(e){
                    $.fn.colorbox.resize();
                });
            });
        })(this, jQuery);     
    </script>
{% endblock script_errors_handler %}

{% block js %}
    <script type="text/javascript">
        {% block js_document_ready %}
            $(document).ready(function(){
                {% block js_document_ready_content %}
                    {% block js_document_ready_select2_category %}
                        $('#item_typeContent_category').select2({
                            minimumInputLength: 1,
                            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                                url: "{{ path("Nitra_MenuBundle_Menu_ajaxGetAutocomplete") }}",
                                dataType: 'json',
                                data: function (term, page) {
                                    return {
                                        q:          term, // search term 
                                        document:   'NitraProductBundle:Category', // document name
                                        limit:      10, // page size
                                        page:       page // page number
                                    };
                                },
                                results: function (data, page) { // parse the results into the format expected by Select2.
                                    var more = (page * 10) < data.total; // whether or not there are more results available
                                    // notice we return the value of more so Select2 knows if more results can be loaded
                                    return {results: data.results, more: more};
                                }
                            }
                        });
                        {% if Item and Item.typeContentCategory|length %}
                            $('#s2id_item_typeContent_category > .select2-choice > span').text('{{ Item.typeContentCategory.name }}');
                        {% endif %}
                    {% endblock js_document_ready_select2_category %}

                    {% block js_document_ready_select2_information %}
                        $('#item_typeContent_information').select2({
                            minimumInputLength: 1,
                            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                                url: "{{ path("Nitra_MenuBundle_Menu_ajaxGetAutocomplete") }}",
                                dataType: 'json',
                                data: function (term, page) {
                                    return {
                                        q:          term, // search term 
                                        document:   'NitraInformationBundle:Information', // document name
                                        limit:      10, // page size
                                        page:       page // page number
                                    };
                                },
                                results: function (data, page) { // parse the results into the format expected by Select2.
                                    var more = (page * 10) < data.total; // whether or not there are more results available
                                    // notice we return the value of more so Select2 knows if more results can be loaded
                                    return {results: data.results, more: more};
                                }
                            }
                        });
                        {% if Item and Item.typeContentInformation|length %}
                            $('#s2id_item_typeContent_information > .select2-choice > span').text('{{ Item.typeContentInformation.name }}');
                        {% endif %}
                    {% endblock js_document_ready_select2_information %}

                    {% block js_document_ready_select2_information_category %}
                        $('#item_typeContent_infoCategory').select2({
                            minimumInputLength: 1,
                            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                                url: "{{ path("Nitra_MenuBundle_Menu_ajaxGetAutocomplete") }}",
                                dataType: 'json',
                                data: function (term, page) {
                                    return {
                                        q:          term, // search term 
                                        document:   'NitraInformationBundle:InformationCategory', // document name
                                        limit:      10, // page size
                                        page:       page // page number
                                    };
                                },
                                results: function (data, page) { // parse the results into the format expected by Select2.
                                    var more = (page * 10) < data.total; // whether or not there are more results available
                                    // notice we return the value of more so Select2 knows if more results can be loaded
                                    return {results: data.results, more: more};
                                }
                            }
                        });
                        {% if Item and Item.typeContentInfoCategory|length %}
                            $('#s2id_item_typeContent_infoCategory > .select2-choice > span').text('{{ Item.typeContentInfoCategory.name }}');
                        {% endif %}
                    {% endblock js_document_ready_select2_information_category %}

                    {% block js_document_ready_select2_product %}
                        $('#item_typeContent_product').select2({
                            minimumInputLength: 1,
                            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                                url: "{{ path("Nitra_MenuBundle_Menu_ajaxGetAutocomplete") }}",
                                dataType: 'json',
                                data: function (term, page) {
                                    return {
                                        q:          term, // search term 
                                        document:   'NitraProductBundle:Product', // document name
                                        limit:      10, // page size
                                        page:       page // page number
                                    };
                                },
                                results: function (data, page) { // parse the results into the format expected by Select2.
                                    var more = (page * 10) < data.total; // whether or not there are more results available
                                    // notice we return the value of more so Select2 knows if more results can be loaded
                                    return {results: data.results, more: more};
                                }
                            }
                        });
                        {% if Item and Item.typeContentProduct|length %}
                            $('#s2id_item_typeContent_product > .select2-choice > span').text('{{ Item.typeContentProduct.name }}');
                        {% endif %}
                    {% endblock js_document_ready_select2_product %}

                    {% block js_document_ready_select2_badge %}
                        $('#item_typeContent_badge').select2({
                            minimumInputLength: 1,
                            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                                url: "{{ path("Nitra_MenuBundle_Menu_ajaxGetAutocomplete") }}",
                                dataType: 'json',
                                data: function (term, page) {
                                    return {
                                        q:          term, // search term
                                        document:   'NitraProductBundle:Badge', // document name
                                        limit:      10, // page size
                                        page:       page // page number
                                    };
                                },
                                results: function (data, page) { // parse the results into the format expected by Select2.
                                    var more = (page * 10) < data.total; // whether or not there are more results available
                                    // notice we return the value of more so Select2 knows if more results can be loaded
                                    return {results: data.results, more: more};
                                }
                            }
                        });
                        {% if Item and Item.typeContentBadge|length %}
                            $('#s2id_item_typeContent_badge > .select2-choice > span').text('{{ Item.typeContentBadge.name }}');
                        {% endif %}
                    {% endblock js_document_ready_select2_badge %}

                    getTypeContent($('#item_type'));
                    getSubmenuTypeContent($('#item_submenuType'));
                {% endblock js_document_ready_content %}
            });
        {% endblock js_document_ready %}

        {% block js_save_item_fn %}
            // save menu item
            function saveItem() {
                {% block js_save_item_fn_content %}
                    {% block js_save_item_fn_content_check_errors %}
                        var errors = 0;
                        $('.field_error').remove();

                        // check required fields
                        $(':input').each(function() {
                            if ($(this).attr('required') == 'required' && $(this).val() == '') {
                                $(this).prev('.field_error').remove();
                                $(this).before('<div class="field_error" style="color: red;">{% trans %}required{% endtrans %}</div>');
                                errors ++;
                            }
                        });

                        if (($('#item_columns').val() != '' && !$.isNumeric($('#item_columns').val())) || Math.floor($('#item_columns').val()) != $('#item_columns').val()) {
                            $('#item_columns').prev('.field_error').remove();
                            $('#item_columns').before('<div class="field_error" style="color: red;">{% trans %}requiredNumber{% endtrans %}</div>');
                            errors ++;
                        }

                        // check for form errors
                        if (errors) {
                            return;
                        } else {
                            $('.field_error').remove();
                        }
                    {% endblock js_save_item_fn_content_check_errors %}
                    {% block js_save_item_fn_content_add_ckeditor_data %}
                        $('[id^=item_trans_typeContent_html_][id$=_typeContent_html], [id^=item_trans_submenuContent_html_][id$=_submenuContent_html]').each(function() {
                            $(this).val(CKEDITOR.instances[$(this).prop('id')].getData());
                        });
                    {% endblock js_save_item_fn_content_add_ckeditor_data %}

                    {% block js_save_item_fn_content_ajax %}
                        {# send request -#}
                        $.ajax({
                            async:      false,
                            type:       'POST',
                            url:        "{{ path("Nitra_MenuBundle_Menu_itemSave", { 'menuId': Menu.id }) }}",
                            data:       $('form.item_form').serialize(),
                            success:    function (html) {
                                $('.item_form').remove();
                                $('.notification_box').remove();
                                $('.header').after('<div class="notification_box success">{{ 'itemSaved'|trans }}</div>');
                                $('.tree_menu').html(html);
                                $.colorbox.close();
                            },
                            error:      function (resp) {
                                $('.notification_box').remove();
                                $('.header').after('<div class="notification_box error">{{ 'error.itemSave'|trans }}</div>');
                                $.colorbox.close();
                            }
                        });
                    {% endblock js_save_item_fn_content_ajax %}
                {% endblock js_save_item_fn_content %}
            }
        {% endblock js_save_item_fn %}

        {% block js_type_change_handler_fn %}
            // switch input type on menu type change
            function getTypeContent(elem) {
                $('.form_row[class*="typeContent"]').hide();
                $('[id*="item_typeContent"]').not('textarea').attr('required', false).not('.form_row[class*="typeContent"] [id*="item_typeContent"]').hide();
                $('.form_row[class*="typeContent_' + elem.val() + '"]').show();
                $('[id*="item_typeContent_' + elem.val() + '"]').not('textarea').attr('required', true).not('.form_row[class*="typeContent_' + elem.val() + '"] [id*="item_typeContent_' + elem.val() + '"]').show();
            }
        {% endblock js_type_change_handler_fn %}

        {% block js_submenu_type_change_handler_fn %}
            // switch input type on submenu type change
            function getSubmenuTypeContent(elem) {
                $('.form_row[class*="submenuContent"]').hide();
                $('[id*="item_submenuContent"]').not('textarea').attr('required', false).not('.form_row[class*="submenuContent"] [id*="item_submenuContent"]').hide();
                $('.form_row[class*="submenuContent_' + elem.val() + '"]').show();
                $('[id*="item_submenuContent_' + elem.val() + '"]').not('textarea').attr('required', true).not('.form_row[class*="field_submenuContent_' + elem.val() + '"] [id*="item_submenuContent_' + elem.val() + '"]').show();
            }
        {% endblock js_submenu_type_change_handler_fn %}
    </script>
{% endblock js %}