{% trans_default_domain "NitraMenuBundle" %}

{% macro tree_menu(Menu, parent, level) %}
    <ol class="level{{ level }} sortable">
        {% for item in Menu.items %}
            {% if item.parent == parent %}
                <li id="list_{{ item.id }}" style="min-width: 330px;">
                    <div>
                        <span class="disclose"><span></span></span>
                        {{ item.title }}
                        <span class="icons_menu">
                            <a class="link_icon_mini"><i class="i_edit" onclick="quickEdit($(this))" itemId="{{ item.id }}"></i></a>
                            <a class="link_icon_mini"><i class="i_delete" onclick="quickDel($(this))" itemId="{{ item.id }}"></i></a>
                        </span>
                    </div>
                    {{ _self.tree_menu(Menu, item.id, level + 1) }}
                </li>
            {% endif %}
        {% endfor %}
    </ol>
{% endmacro %}

{{ _self.tree_menu(Menu, 'null', 1) }}
<input type="button" name="serialize" onclick="updateTree()" id="serialize" value="{{ 'updateTree'|trans }}" />
<input type="button" name="newItem" onclick="quickEdit($(this))" id="newItem" value="{{ 'newItem'|trans }}" />
<script type="text/javascript">
    $(document).ready(function() {
        $('ol.level1').nestedSortable({
            forcePlaceholderSize:   true,
            handle:                 'div',
            helper:                 'clone',
            items:                  'li',
            opacity:                .6,
            placeholder:            'placeholder',
            revert:                 250,
            tabSize:                25,
            tolerance:              'pointer',
            toleranceElement:       '> div',
            isTree:                 true,
            expandOnHover:          700,
            startCollapsed:         true
        });
    });

    // update menu tree
    function updateTree() {
        var serialized = $('ol.level1').nestedSortable('serialize');
         $.ajax({
            async:      false,
            type:       'POST',
            dataType:   'json',
            url:        "{{ path("Nitra_MenuBundle_Menu_treeUpdate", { 'menuId': Menu.id }) }}",
            data:       serialized, 
            success:    function (html) {
                $('.tree_menu').html(html);
            }
        });
        $('.notification_box').remove();
        $(".header").after('<div class="notification_box success">{{ 'menuUpdated'|trans }}</div>');
    }

    // delete menu item
    function quickDel(elem) {
        $.ajax({
            async:      false,
            type:       'POST',
            url:        "{{ path("Nitra_MenuBundle_Menu_itemDelete", { 'menuId': Menu.id }) }}",
            data:       {
                itemId:     elem.attr("itemId")
            }, 
            success:    function (html) {
                $('.notification_box').remove();
                $('.tree_menu').html(html);
                $('.header').after('<div class="notification_box success">{{ 'itemDeleted'|trans }}</div>');
            },
            error:      function (resp) {
                $('.notification_box').remove();
                $('.header').after('<div class="notification_box error">{{ 'error.itemDelete'|trans }}</div>');
            }
        });
    }

    // edit menu item
    function quickEdit(elem) {
        $('.item_form').remove();
        var itemId = elem.attr("itemId");
        $.ajax({
            async:      false,
            type:       'POST',
            url:        "{{ path("Nitra_MenuBundle_Menu_itemGet", { 'menuId': Menu.id }) }}",
            data:       {
                itemId:     itemId
            }, 
            success:    function (html) {
                $.colorbox({
                    html: html
                });
                $('.item_form').slideDown();
                $('.notification_box').remove();
            },
            error:      function (resp) {
                $('.notification_box').remove();
                $('.header').after('<div class="notification_box error">{% trans %}error.itemGet{% endtrans %}</div>');
            }
        });
    }
</script>