{% extends_admingenerated "NitraMenuBundle:MenuEdit:form.html.twig" %}

{% trans_default_domain "NitraMenuBundle" %}

{% block form_fieldset_NONE %}
    <fieldset class="form_block form_fieldset_NONE fieldset_tabbable">
        {% for child in form %}
            {{ form_row(child) }}
        {% endfor %}
        {% block tree_menu %}
            <div class="form_row field_Tree">
                <label for="edit_menu_Tree">{{ 'menu.fields.items.label'|trans }}</label>
                <div class="field_content tree_menu">
                    {{ include('NitraMenuBundle:TreeMenu:index.html.twig', {'Menu': Menu}) }}
                </div>
            </div>
        {% endblock tree_menu %}
    </fieldset>
{% endblock form_fieldset_NONE %}