{% extends_admingenerated "NitraMenuBundle:MenuEdit:index.html.twig" %}

{% trans_default_domain "NitraMenuBundle" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/nitramenu/css/treemenu.css' 
                   'bundles/nitramenu/css/menu.less' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascript_head %}
    {{ parent() }}
    {% javascripts 
        'bundles/nitramenu/js/jquery.ui.mouse.js'
        'bundles/nitramenu/js/jquery.ui.sortable.js'
        'bundles/nitramenu/js/jquery.nestable.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" class="source below">
        $(document).ajaxSend(function() {
            $('.notification_box').remove();
            $('.header').after('<div class="notification_box success">{{ 'processingRequest'|trans }}</div>');
        });
    </script>
{% endblock javascript_head %}