#colorbox.has_tab                          {                                
    .help-block                            { display: block; max-width: 20em !important; }
    .has_error:after                       { color: #c80808; content: " *"; }
    .lang_tabs, .lang_tab_content          { width: 450px; }
    .field_translations .lang_tabs, 
    .field_translations .lang_tab_content  { width: 550px; }
    .delete.link_icon_mini                 { margin-top: -2em; }
}

